body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #22262c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::before {
  content: "✧";
  color: white;
  font-size: 35px;
  top: 150px;
  left: 70px;
  position: absolute;
}

body::after {
  content: "✧";
  color: white;
  font-size: 35px;
  top: 60px;
  right: 540px;
  position: absolute;
}

.btn {
  background: transparent;
  border: 1px solid #f33a59;
  color: #f33a59;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}